.info-text {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}

.box {
  border: 0.3rem solid black;
  width: 15rem;
  margin: 0.6rem;
  width: 30rem;
  height: 20rem;
  background-color: white;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  margin-top: 0.4rem;
}

.item-img {
  width: 10rem;
}

.main {
  display: flex;
  justify-content: center;
}

.win {
  border: 0.3rem solid green;
  color: green;
}

.lose {
  border: 0.3rem solid red;
  color: red;
}

.tie {
  border: 0.3rem solid black;
  color: black;
}

.Btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.userBtn {
  margin: 0.2rem;
  width: 5rem;
  height: 2rem;
  border: none;
  background-color: #e5e7e9;
  font-weight: bold;
}

.userBtn:hover {
  background-color: gray;
  color: white;
}
